<nav class="bg-gray-800"  >
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <span class="text-white font-bold">Workout Tracker</span>
        </div>
        <div class=" md:block">
          <div class="ml-10 flex items-baseline space-x-4">
            <a routerLink="/add-user" routerLinkActive="bg-gray-900" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" style="text-decoration: none;">Add User</a>
            <a routerLink="/user-list" routerLinkActive="bg-gray-900" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" style="text-decoration: none;">User List</a>
            <a routerLink="/workout-chart" routerLinkActive="bg-gray-900" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" style="text-decoration: none;">Workout Chart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<main class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
  <router-outlet></router-outlet>
</main>